@page
@model ServeyApplication.Pages.Account.ForgotPasswordModel

<h1 class="mb-4">Forgot Password</h1>

<div class="card p-4 shadow-sm">
    <form method="post">

        <div class="mb-3">
            <label class="form-label">Enter your email address</label>
            <input type="email" class="form-control" asp-for="Email" placeholder="you@example.com" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary w-100">Send Reset Link</button>
    </form>
</div>

@if (TempData["Message"] != null)
{
    <div class="alert alert-info mt-3">
        @TempData["Message"]
    </div>
}